/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* BACKGROUND */
body {
  min-height: 100vh;
  background: url("login.bg.jpg") center / cover no-repeat;
}

/* DARK OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

/* CENTER LOGIN SECTION */
.login-container {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN BOX */
.login-box {
  width: 380px;
  background: #ffffff;
  padding: 0 10px ;
  border-radius: 6px;
  border-top: 5px solid #b05d33;
  overflow: hidden; /* important for banner */
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
}

/* BANNER */
.logo img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  display: block;
}

/* TEXT BELOW BANNER */
.college-text {
  text-align: center;
  padding: 14px 20px 10px;
}

.college-text p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

/* FORM AREA */
form {
  padding: 0 20px 20px;
}

/* INPUTS */
form input,
form select {
  width: 100%;
  padding: 11px;
  margin-bottom: 14px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  font-size: 14px;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #0983fd;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #b05d33;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #da5a15;
}


